services:
  serp-redis:
    image: redis:7.2.4-alpine
    container_name: serp-redis
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    networks:
      - serp-network

  serp-postgre-db:
    image: postgres:latest
    container_name: serp-postgre-db
    environment:
      - POSTGRES_USER=serp
      - POSTGRES_PASSWORD=serp
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - serp-network

  serp-kafka:
    image: confluentinc/cp-kafka:latest
    container_name: serp-kafka
    ports:
      - "9092:9092"
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: 'broker,controller'
      KAFKA_CONTROLLER_QUORUM_VOTERS: '1@serp-kafka:29093'
      KAFKA_CONTROLLER_LISTENER_NAMES: 'CONTROLLER'
      
      KAFKA_LISTENERS: 'PLAINTEXT://serp-kafka:29092,CONTROLLER://serp-kafka:29093,PLAINTEXT_HOST://0.0.0.0:9092'
      KAFKA_ADVERTISED_LISTENERS: 'PLAINTEXT://serp-kafka:29092,PLAINTEXT_HOST://localhost:9092'
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: 'CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT'
      KAFKA_INTER_BROKER_LISTENER_NAME: 'PLAINTEXT'
      
      CLUSTER_ID: 'MkU3OEVBNTcwNTJENDM2Qk'
      
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      
      KAFKA_JMX_PORT: 9101
      KAFKA_JMX_HOSTNAME: localhost
    volumes:
      - kafka_data:/tmp/kraft-combined-logs
    networks:
      - serp-network
  
  serp-minio:
    image: minio/minio:latest
    container_name: serp-minio
    ports:
      - "9000:9000"   # S3 API
      - "9001:9001"   # MinIO Console (Web UI)
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin123
    command: server /data --console-address ":9001"
    volumes:
      - minio_data:/data
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
      interval: 30s
      timeout: 20s
      retries: 3
    networks:
      - serp-network

  serp-keycloak:
    image: quay.io/keycloak/keycloak:26.3.3
    container_name: serp-keycloak
    command: ["start-dev"]
    environment:
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://serp-postgre-db:5432/keycloak
      KC_DB_USERNAME: serp
      KC_DB_PASSWORD: serp
      KC_HOSTNAME: localhost

      KC_BOOTSTRAP_ADMIN_USERNAME: serp-admin
      KC_BOOTSTRAP_ADMIN_PASSWORD: serp-admin

    ports:
      - "8180:8080"
    volumes:
      - keycloak_data:/opt/keycloak/data
    networks:
      - serp-network
    depends_on:
      - serp-postgre-db

volumes:
  postgres-data:
    driver: local
  redis-data:
    driver: local
  kafka_data:
    driver: local
  keycloak_data:
    driver: local
  minio_data:
    driver: local

networks:
  serp-network:
    driver: bridge