spring:
  application:
    name: purchase-service
  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: ${KEYCLOAK_URL}/realms/serp/protocol/openid-connect/certs
          issuer-uri: ${KEYCLOAK_URL}/realms/serp


server:
  port: ${SERVER_PORT:8088}

security:
  role-prefix: ROLE_
  roles:
    serp_service: ${SECURITY_ROLE_SERP_SERVICE:SERP_SERVICES}
  urls:
    public-urls:
      - first: "/v2/api-docs"
        second: GET
      - first: "/v3/api-docs"
        second: GET
      - first: "/v3/api-docs/**"
        second: GET
      - first: "/swagger-resources"
        second: GET
      - first: "/swagger-resources/**"
        second: GET
      - first: "/configuration/ui"
        second: GET
      - first: "/configuration/security"
        second: GET
      - first: "/swagger-ui/**"
        second: GET
      - first: "/webjars/**"
        second: GET
      - first: "/swagger-ui.html"
        second: GET
    protected-urls:
      # Address endpoints
      - url-pattern: purchase-service/api/v1/address/create/**
        roles:
          - PURCHASE_STAFF
          - PURCHASE_ADMIN
      - url-pattern: purchase-service/api/v1/address/update/**
        roles:
          - PURCHASE_STAFF
          - PURCHASE_ADMIN

      # Category endpoints
      - url-pattern: purchase-service/api/v1/category/search**
        roles:
          - PURCHASE_STAFF
          - PURCHASE_MANAGER
          - PURCHASE_ADMIN
      - url-pattern: purchase-service/api/v1/category/create/**
        roles:
          - PURCHASE_STAFF
          - PURCHASE_ADMIN
      - url-pattern: purchase-service/api/v1/category/update/**
        roles:
          - PURCHASE_STAFF
          - PURCHASE_ADMIN
      - url-pattern: purchase-service/api/v1/category/delete/**
        roles:
          - PURCHASE_STAFF
          - PURCHASE_ADMIN

      # Facility endpoints
      - url-pattern: purchase-service/api/v1/facility/search/**
        roles:
          - PURCHASE_ADMIN
          - PURCHASE_MANAGER
          - PURCHASE_STAFF
      - url-pattern: purchase-service/api/v1/facility/create/**
        roles:
          - PURCHASE_ADMIN
      - url-pattern: purchase-service/api/v1/facility/update/**
        roles:
          - PURCHASE_ADMIN
      - url-pattern: purchase-service/api/v1/facility/delete/**
        roles:
          - PURCHASE_ADMIN

      # Supplier endpoints
      - url-pattern: purchase-service/api/v1/supplier/search/**
        roles:
          - PURCHASE_ADMIN
          - PURCHASE_MANAGER
          - PURCHASE_STAFF
      - url-pattern: purchase-service/api/v1/supplier/create/**
        roles:
          - PURCHASE_ADMIN
      - url-pattern: purchase-service/api/v1/supplier/update/**
        roles:
          - PURCHASE_ADMIN
      - url-pattern: purchase-service/api/v1/supplier/delete/**
        roles:
          - PURCHASE_ADMIN

      # Product endpoints
      - url-pattern: purchase-service/api/v1/product/search/**
        roles:
          - PURCHASE_STAFF
          - PURCHASE_MANAGER
          - PURCHASE_ADMIN
      - url-pattern: purchase-service/api/v1/product/create/**
        roles:
          - PURCHASE_STAFF
          - PURCHASE_ADMIN
      - url-pattern: purchase-service/api/v1/product/update/**
        roles:
          - PURCHASE_STAFF
          - PURCHASE_ADMIN
      - url-pattern: purchase-service/api/v1/product/delete/**
        roles:
          - PURCHASE_STAFF
          - PURCHASE_ADMIN

      # Order endpoints
      - url-pattern: purchase-service/api/v1/order/search/**
        roles:
          - PURCHASE_STAFF
          - PURCHASE_MANAGER
          - PURCHASE_ADMIN
      - url-pattern: purchase-service/api/v1/order/create/**
        roles:
          - PURCHASE_STAFF
          - PURCHASE_ADMIN
      - url-pattern: purchase-service/api/v1/order/update/**
        roles:
          - PURCHASE_STAFF
          - PURCHASE_ADMIN
      - url-pattern: purchase-service/api/v1/order/delete/**
        roles:
          - PURCHASE_STAFF
          - PURCHASE_ADMIN
      - url-pattern: purchase-service/api/v1/order/manage/**
        roles:
          - PURCHASE_MANAGER
          - PURCHASE_ADMIN

      # Shipment endpoints
      - url-pattern: purchase-service/api/v1/shipment/search/**
        roles:
          - PURCHASE_STAFF
          - PURCHASE_MANAGER
          - PURCHASE_ADMIN
      - url-pattern: purchase-service/api/v1/shipment/create/**
        roles:
          - PURCHASE_STAFF
          - PURCHASE_ADMIN
      - url-pattern: purchase-service/api/v1/shipment/update/**
        roles:
          - PURCHASE_STAFF
          - PURCHASE_ADMIN
      - url-pattern: purchase-service/api/v1/shipment/delete/**
        roles:
          - PURCHASE_STAFF
          - PURCHASE_ADMIN
      - url-pattern: purchase-service/api/v1/shipment/manage/**
        roles:
          - PURCHASE_STAFF
          - PURCHASE_ADMIN
