app:
  logging:
    level: INFO
  redis:
    host: ${REDIS_HOST}
    port: ${REDIS_PORT}

  keycloak:
    url: ${KEYCLOAK_URL}
    realm: serp
    client-id: serp-api-gateway
    client-secret: ${CLIENT_SECRET}
    jwk-set-uri: ${KEYCLOAK_URL}/realms/serp/protocol/openid-connect/certs
    expected-issuer: ${KEYCLOAK_URL}/realms/serp
    expected-audience:

  cors:
    allowedOrigins:
      - https://serp-soict.vercel.app
      - https://serp.texkis.com
    allowedMethods:
      - GET
      - POST
      - PUT
      - DELETE
      - OPTIONS
    allowedHeaders:
      - Authorization
      - Content-Type
    allowCredentials: true
    maxAge: 3600
    allowFiles: true

external:
  services:
    accountService:
      host: ${ACCOUNT_SERVICE_HOST}
      port: ${ACCOUNT_SERVICE_PORT}
      timeout: 15s
    ptmTask:
      host: ${PTM_TASK_SERVICE_HOST}
      port: ${PTM_TASK_SERVICE_PORT}
      timeout: 15s
    ptmSchedule:
      host: ${PTM_SCHEDULE_SERVICE_HOST}
      port: ${PTM_SCHEDULE_SERVICE_PORT}
      timeout: 15s
    purchaseService:
      host: ${PURCHASE_SERVICE_HOST}
      port: ${PURCHASE_SERVICE_PORT}
      timeout: 15s
    logisticsService:
      host: ${LOGISTICS_SERVICE_HOST}
      port: ${LOGISTICS_SERVICE_PORT}
      timeout: 15s
    salesService:
      host: ${SALES_SERVICE_HOST}
      port: ${SALES_SERVICE_PORT}
      timeout: 15s
    crmService:
      host: ${CRM_SERVICE_HOST}
      port: ${CRM_SERVICE_PORT}
      timeout: 15s
    notificationService:
      host: ${NOTIFICATION_SERVICE_HOST}
      port: ${NOTIFICATION_SERVICE_PORT}
      timeout: 15s
