spring:
  application:
    name: discuss
  threads:
    virtual:
      enabled: true

  datasource:
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    url: ${DB_URL}
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 20
      minimum-idle: 5
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  flyway:
    enabled: true
    baseline-on-migrate: true
    baseline-version: 1
    locations: classpath:db/migration

  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}
  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS}
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.apache.kafka.common.serialization.StringSerializer

  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: ${KEYCLOAK_URL}/realms/serp/protocol/openid-connect/certs
          issuer-uri: ${KEYCLOAK_URL}/realms/serp

app:
  keycloak:
    url: ${KEYCLOAK_URL}
    jwk-set-uri: ${KEYCLOAK_URL}/realms/serp/protocol/openid-connect/certs
    expected-issuer: ${KEYCLOAK_URL}/realms/serp
    expected-audience: serp-discuss
    realm: serp
    client-id: serp-discuss
    client-secret: ${CLIENT_SECRET}

  security:
    filter:
      publicUrls:
        # Add public endpoints here as needed
      protectedUrls:
        # Add protected endpoints here as needed

server:
  port: ${SERVER_PORT:8092}
  servlet:
    context-path: /discuss
