spring:
  application:
    name: ptm-optimization
  threads:
    virtual:
      enabled: true

  datasource:
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    url: ${DB_URL}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        jdbc:
          batch_size: 50
          batch_versioned_data: true
        order_inserts: true
        order_updates: true
        generate_statistics: false
  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}
  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS}
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.apache.kafka.common.serialization.StringSerializer

  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: http://localhost:8180/realms/serp/protocol/openid-connect/certs
          issuer-uri: http://localhost:8180/realms/serp

app:
  keycloak:
    url: http://localhost:8180
    jwk-set-uri: http://localhost:8180/realms/serp/protocol/openid-connect/certs
    expected-issuer: http://localhost:8180/realms/serp
    expected-audience: serp-ptm
    realm: serp
    client-id: serp-ptm
    client-secret: ${CLIENT_SECRET}

  security:
    filter:
      publicUrls:
      protectedUrls:
        - url-pattern: /api/v1/task-registrations/**
          roles:
            - PTM_USER
            - PTM_ADMIN


server:
  port: 8085
  servlet:
    context-path: /ptm-optimization