app:
  logging:
    level: INFO
  datasource:
    driver: postgres
    host: ${DB_HOST}
    port: 5432
    database: ${DB_NAME}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    logLevel: INFO
  redis:
    host: ${REDIS_HOST}
    port: ${REDIS_PORT}
  security:
    jwt:
      publicKey: ${JWT_PUBLIC_KEY}

external:
  services:
    accountService:
      host: ${ACCOUNT_SERVICE_HOST}
      port: ${ACCOUNT_SERVICE_PORT}
      timeout: 15s